#weather {
  color: white;
  font-size: 10px;
  font-weight: 600;
}
#login-form input {
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
}

#login-form input::placeholder {
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
